.main {
    scroll-snap-type: y mandatory;
    scroll-margin-top: 116px;
    max-height: 90dvh;
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main article {
max-width: 1080px;
}

.main section {
max-width: 1280px;
margin: auto;
padding: 10px 20px;
}

.main h2 {
color: black;
text-align: left;
padding: 156px 16px 0 16px;
scroll-padding-top: 106px;
}

.main h3 {
    padding: 156px 16px 0px 16px;
    text-align: left;
}

.main p {
    padding: 8px 16px;
    width: fit-content;
}

.main article {
    min-height: 100dvh;
    scroll-snap-align: start;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.buttons button {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    word-break: break-word;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
}

.main ul {
    list-style-type: none;
}

.main ul p {
    text-align: left;
}


@media screen and (min-width: 499px) {
    .main h2,
    .main p {
        text-align: center;
    }

    .main ul {
        max-width: 700px;
    }
}